.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.searchInput {
    
  font-family: 'Pochaevsk', serif;
  font-weight: 400;
  font-style: normal;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 50%;
  font-size: 16px;
  transition: border-color 0.3s;
}

.searchInput:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.searchButton {
    
  font-family: 'Pochaevsk', serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #66afe9;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #5a9bd4;
}
