.linkCard {
  
  font-family: "IBM Plex Mono", serif;
  font-weight: 200;
  font-style: normal;
  background: 0 0;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0 0;
  padding: 0.92857143em 1.14285714em;
  text-transform: none;
  font-size: larger;

  font-weight: 400;
  transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
}
